/*
We use "em" instead of "rem" or "px" so that we can overide both default 
and user-browser(In this we mean custom browser settings set by the user)
 settings.
Breakpoint arguments choices for this app:

-phone: 0px - 600px == 37.5em;
-tablet-portrait:600px - 900px == 56.25em;
-tablet-landscape: 900px - 1200px == 75em;
-default: 1200px - 1800px
-big-desktop: 1800px++ == 112.5em

let 1em = 16px;
let default = 10px || 62.5% || 1rem;
*/
/*
Yellow color: #FECC0A;
Blue color: #0E163D;
Grey color: #00000029;
Black color: #000000;
White color: #ffffff;
*/
html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 45%;
  }

  .dashboard__promotions--card {
    padding-left: 3rem !important;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "AronGrotesque-light", sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
}

/* Fonts Start */
@font-face {
  font-family: "malayalam";
  src: url("../fonts/malayalam.ttf");
}

@font-face {
  font-family: "MavenPro-Black";
  src: url("../fonts/MavenPro-Black.ttf");
}

@font-face {
  font-family: "MavenPro-Bold";
  src: url("../fonts/MavenPro-Bold.ttf");
}

@font-face {
  font-family: "MavenPro-Medium";
  src: url("../fonts/MavenPro-Medium.ttf");
}

@font-face {
  font-family: "MavenPro-Regular";
  src: url("../fonts/MavenPro-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.otf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

/* Fonts End */
h1 {
  font-family: "MavenPro-Black";
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0rem;
}

h2 {
  font-family: "MavenPro-Black";
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0rem;
}

h3 {
  font-family: "MavenPro-Black";
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0rem;
}

h6 {
  font-family: "MavenPro-Bold";
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-family: "MavenPro-Medium";
  font-size: 1.4rem;
  letter-spacing: 0rem;
  /* overflow-wrap: break-word; */
  /* word-break: break-all; */
}

.text {
  font-family: "Montserrat-Medium";
  font-size: 1.1rem;
  letter-spacing: 0rem;
}

.text-small {
  font-family: "MavenPro-Bold";
  font-size: 1rem;
  letter-spacing: 0rem;
}

.text-sm-light {
  font-family: "MavenPro-Medium";
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0rem;
}

.text-2 {
  font-family: "MavenPro-Bold";
  font-size: 1.2rem;
  letter-spacing: 0rem;
}

.banner__heading {
  font-family: "Montserrat-Bold";
  font-size: 1.4rem;
  letter-spacing: 0rem;
  position: relative;
  margin-left: 6.3rem;
}

.banner__heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  width: 3rem;
  height: 0.2rem;
  background-color: #fecc0a;
}

.banner__text {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0rem;
}

.form__header {
  font-family: "Montserrat-Black";
}

.form__btn {
  font-family: "MavenPro-Bold";
  font-size: 1.4rem;
}

.form-2__label,
.form-2__input,
.form-2__input-disabled,
.form-2__select,
.form-2__textarea,
.form-2__text,
.form-2__btn,
.form-2 .custom-control-input {
  font-family: "Montserrat-Bold";
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0rem;
}

.form-2 .custom-control-label {
  font-family: "Montserrat-Bold";
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 0rem;
}

.confirmation__header {
  font-family: "Montserrat-Bold";
}

.confirmation__text {
  font-family: "Montserrat-Medium";
  font-size: 1.6rem;
  letter-spacing: 0rem;
}

.confirmation__link {
  font-family: "Montserrat-Medium";
  font-size: 1.4rem;
}

.list__link {
  font-family: "MavenPro-Bold";
  font-size: 1.2rem;
}

.footer__logo-text {
  font-family: "OpenSans-ExtraBold";
  letter-spacing: 0rem;
}

.footer__header {
  font-family: "Montserrat-Bold";
  letter-spacing: 0rem;
}

.footer__input {
  font-family: "Montserrat-Bold";
  font-weight: normal;
}

.footer__link {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-size: 1.4rem;
}

.dashboard__nav--balance {
  font-family: "Montserrat-Bold";
  font-size: 1.2rem !important;
}

.dashboard__nav--balance span {
  font-family: "Montserrat-Medium" !important;
  font-size: 1rem !important;
}

.dashboard__nav--profile-name {
  font-family: "Montserrat-Bold";
  font-size: 1.1rem;
}

.dashboard__nav--profile-location {
  font-family: "Montserrat-Medium" !important;
  font-size: 1rem !important;
}

.dashboard__nav--profile-dropdown-item {
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
}

.dashboard__heading {
  font-family: "Montserrat-Bold";
  font-size: 1.8rem;
}

.dashboard__summary--card-header {
  font-family: "Montserrat-Medium" !important;
  font-size: 1.3rem;
  font-weight: 600;
}

.dashboard__summary--card-body {
  font-family: "Montserrat-Medium" !important;
  font-size: 1.6rem;
}

.dashboard-table__thead th {
  font-family: "Montserrat-Bold";
  font-size: 1.3rem;
}

.dashboard-table__tbody th,
.dashboard-table__tbody td {
  font-family: "Montserrat-Medium";
  font-size: 1.3rem;
}

.dashboard__promotions--card-heading {
  font-family: "Montserrat-Medium";
  font-size: 1.4rem;
  font-weight: bold;
}

.dashboard__promotions--card-text {
  font-family: "Montserrat-Medium";
  font-size: 1.1rem;
  font-weight: normal;
}

.dashboard__promotions--card-volume {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

.dashboard__general--card__form--label,
.dashboard__general--card__form--text {
  font-family: "Montserrat-Bold";
  font-size: 1.4rem;
}

.dashboard__general--card__form--input,
.dashboard__general--card__form--select {
  font-family: "Montserrat-Bold";
  font-size: 1.1rem;
}

.dashboard__general--card__heading {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

.dashboard__general--card__text {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  letter-spacing: 0rem;
}

.dashboard__general--card__text-small {
  font-family: "Montserrat-Medium";
  font-size: 0.7rem;
  letter-spacing: 0rem;
}

.dashboard__general--card__text-bg {
  font-family: "Montserrat-Medium";
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

.dashboard__general--card a {
  font-family: "Montserrat-Medium";
  font-weight: 600;
  font-size: 1.2rem;
}

.badge {
  font-family: "Montserrat-Bold";
  font-size: 0.8rem;
}

.d-table-cell {
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
}

.my-promotion__nav--link {
  font-family: "Montserrat-Medium";
  font-size: 1.3rem;
  line-height: 0.5rem;
}

.my-promotion__pills--link {
  font-family: "Montserrat-Bold";
  font-size: 1rem;
}

.my-promotion__pills--btn {
  font-family: "Montserrat-Medium";
}

.my-promotion__pills--input {
  font-family: "Montserrat-Medium";
  font-size: 1rem;
}

.status-card--title {
  font-family: "Montserrat-Medium";
  font-size: 1.3rem;
}

.status-card--value {
  font-family: "Montserrat-Bold";
  font-size: 1.7rem;
}

a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.color-white {
  color: #ffffff !important;
}

.color-black {
  color: #000000 !important;
}

.color-yellow {
  color: #fecc0a !important;
}

.color-blue {
  color: #0e163d !important;
}

.color-grey-1 {
  color: #00000029 !important;
}

.color-grey-2 {
  color: #727272 !important;
}

.color-grey-3 {
  color: #707070 !important;
}

.color-grey-4 {
  color: #70707027 !important;
}

.color-grey-5 {
  color: #dbdbdb !important;
}

.color-grey-6 {
  color: #f0f0f0 !important;
}

.color-grey-7 {
  color: #6d6d6d !important;
}

.color-grey-8 {
  color: #6d6d6d80 !important;
}

.color-grey-9 {
  color: #f8f8f8 !important;
}

.color-blue-1 {
  color: #12a1ed !important;
}

.color-red {
  color: #f05132 !important;
}

.color-blue-2 {
  color: #1230d9 !important;
}

.color-grey-10 {
  color: #a5a5a5 !important;
}

.color-blue-3 {
  color: rgba(18, 48, 217, 0.5) !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-yellow {
  background-color: #fecc0a !important;
}

.bg-blue {
  background-color: #0e163d !important;
}

.bg-grey-1 {
  background-color: #00000029 !important;
}

.bg-grey-2 {
  background-color: #727272 !important;
}

.bg-grey-3 {
  background-color: #707070 !important;
}

.bg-grey-4 {
  background-color: #70707027 !important;
}

.bg-grey-5 {
  background-color: #dbdbdb !important;
}

.bg-grey-6 {
  background-color: #f0f0f0 !important;
}

.bg-grey-7 {
  background-color: #6d6d6d !important;
}

.bg-grey-8 {
  background-color: #6d6d6d80 !important;
}

.bg-grey-9 {
  background-color: #f8f8f8 !important;
}

.bg-blue-1 {
  background-color: #12a1ed !important;
}

.bg-red {
  background-color: #f05132 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-blue-2 {
  background-color: #1230d9 !important;
}

.bg-grey-10 {
  background-color: #a5a5a5 !important;
}

.bg-blue-3 {
  background-color: rgba(18, 48, 217, 0.5) !important;
}

.border-bottom-grey-3 {
  border-bottom: 0.15rem solid #dbdbdb;
}

.border-grey-3 {
  border: 0.1rem solid #707070;
  opacity: 0.4;
}

.br-1 {
  border-right: 0.12rem solid #f0f0f0 !important;
}

.bl-1 {
  border-left: 0.05rem solid #f0f0f0;
}

.b-0 {
  border: none !important;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.vr {
  width: 0.1rem;
  height: 13rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.align-end {
  position: absolute;
  bottom: 0rem;
}

.list {
  list-style: none;
}

.list__item {
  display: block;
  margin-bottom: 1.8rem;
}

.list__link {
  margin-bottom: 1.5rem;
}

.inline-list {
  list-style: none;
}

.inline-list__item {
  display: inline-block;
}

.inline-list__link {
  margin-right: 1.4rem;
}

.d-table-head {
  display: table-header-group;
}

.d-table-row {
  display: table-row !important;
}

@media (max-width: 37.5em) {
  .col-auto img {
    width: 70%;
  }
}

.d-table-body {
  display: table-row-group;
  width: 100%;
  overflow-x: auto;
}

.d-table-cell button,
.d-table-cell button:focus,
.d-table-cell button:hover {
  color: #1230d9;
}

.d-table-cell button:active {
  background-color: #dbdbdb !important;
  color: #ffffff;
  border-color: #dbdbdb;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 2rem !important;
  transition: all 0.5s ease;
  border: none;
  text-decoration: none;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn__yellow,
.btn__yellow:focus,
.btn__yellow:hover {
  background-color: #fecc0a;
  color: #000000;
  text-decoration: none;
}

.dropdown-btn {
  font-size: .8rem;
  font-weight: bold;
  padding: .7rem 1.1rem !important;
}

.btn__bordered--yellow,
.btn__bordered--yellow:focus,
.btn__bordered--yellow:hover {
  background-color: transparent;
  color: #000000;
  border: 0.1rem solid #fecc0a;
  padding: 1rem 2rem;
  text-decoration: none;
}

.btn__bordered-curved--yellow,
.btn__bordered-curved--yellow:focus,
.btn__bordered-curved--yellow:hover {
  background-color: transparent;
  color: #000000;
  border: 0.13rem solid #fecc0a;
  border-radius: 5rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

/* padding: .7rem 1.3rem; */

.btn__bordered-square-curved--yellow,
.btn__bordered-square-curved--yellow:focus,
.btn__bordered-square-curved--yellow:hover {
  background-color: transparent;
  color: #ffffff;
  padding: .8rem 2rem;
  border: 0.13rem solid #fecc0a;
  border-radius: 5rem 5rem 0rem 5rem;
  text-decoration: none;
}

.btn__curved--yellow,
.btn__curved--yellow:focus,
.btn__curved--yellow:hover {
  background-color: #fecc0a;
  color: #000000;
  border: none !important;
  border-radius: 5rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.btn__squared--yellow,
.btn__squared--yellow:focus,
.btn__squared--yellow:hover {
  background-color: #fecc0a;
  border: none !important;
  border-radius: 0.5rem;
  padding: 1rem 2rem !important;
  text-decoration: none;
}

.btn__square-curved--yellow,
.btn__square-curved--yellow:focus,
.btn__square-curved--yellow:hover {
  background-color: #fecc0a;
  color: #000000;
  padding: .8rem 3rem !important;
  border: 0.13rem solid #fecc0a;
  border-radius: 5rem 5rem 0rem 5rem;
  text-decoration: none;
}

.btn__transparent {
  padding: 1rem 2rem !important;
  background-color: transparent;
  border: none;
  outline: none;
}

.custom-file-input-container {
  margin-top: 2rem;
  /* margin-left: 12rem; */
  position: relative;
}

.custom-file-input {
  display: none !important;
}

.custom-file-label {
  display: block;
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #70707027;
  border: 0.1rem solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-label::after {
  content: "Upload your picture";
  position: absolute;
  top: 50%;
  left: 15rem;
  width: 15rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  background-color: transparent;
  color: #707070;
  border: none;
  z-index: 1;
}

.form {
  position: relative;
}

.form__page-left {
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../images/form-bg.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 2.5rem;
}

.form__page-right {
  padding: 8rem;
  padding-left: 4rem !important;
}

.form__page-left,
.form__page-right {
  height: 100vh;
}

.form__header {
  margin-bottom: 1rem;
}

.form__group {
  margin-top: 0.5rem;
  padding-bottom: 0px;
}

.form__group:first-of-type {
  margin-top: 3.6rem;
}

.form__input,
.form__textarea,
.form__input--search {
  outline: none;
}

.form__input--search {
  padding: 0.9rem 2rem;
  background-color: transparent;
  border: 1.2px solid #ffffff;
  border-radius: 2.5rem;
}

.form__input {
  font-size: 1.3rem;
  margin-bottom: 0rem;
  padding: 0rem;
  border: none;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0.05);
}

.form__label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.7rem;
  transition: all 0.3s;
  transform: translateY(-8.7rem);
}

.form__input:placeholder-shown+.form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.7rem);
}

.form__select {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  padding: 1.2rem 2rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.form__btn {
  display: block;
  width: 100%;
  text-align: center;
}

.form-2__container {
  margin-top: 3rem;
  padding: 0rem;
}

.form-2__container:last-of-type {
  margin-bottom: 2rem;
}

.form-2__label {
  padding: 0rem;
}

.form-2__input,
.form-2__select {
  border: none;
  border-bottom: 0.12rem solid #dbdbdb;
  padding: 0rem;
  background-color: transparent;
  outline: none;
}

.form-2__input-disabled {
  border: none;
  background-color: transparent;
  padding: 0rem;
}

.form-2__textarea {
  border: 0.12rem solid #dbdbdb;
  padding: 0rem;
  background-color: transparent;
  outline: none;
  border-radius: 0rem;
}

.form-2__text {
  margin-bottom: 2rem;
  padding-left: 0rem;
}

.form-2 .custom-control-input {
  width: 2rem;
  height: 2rem;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: auto;
}

.navbar-brand {
  width: 13rem;
  font-family: "OpenSans-ExtraBold";
  font-size: 1.4rem;
  letter-spacing: 0rem;
  line-height: 0rem;
  text-transform: uppercase;
}

.navbar-brand .brand-logo {
  width: 7rem;
}

.navbar .collapse {
  margin-left: 1.7rem;
}

.navbar .collapse .navbar-nav .nav-item:not(:last-child) {
  margin-right: 1.5rem;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  font-family: "MavenPro-Bold";
  font-size: 1.2rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
}

.dropdown-item.active {
  background: none !important;
}

.navbar .collapse .navbar-nav .nav-item.active .nav-link {
  color: #fecc0a !important;
}

.home-dropdown__toggle::after {
  border: none;
}

.home-dropdown__menu {
  width: 40rem;
  left: unset;
  right: 0;
  background: linear-gradient(to left,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7));
  border: none;
  border-bottom-left-radius: 2.3rem;
  border-bottom-right-radius: 2.3rem;
  border-top-left-radius: 2.3rem;
  border-top-right-radius: 0rem;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0rem;
}

.dropdown-toggle::after {
  color: #ffffff !important
}

.dropdown-text {
  line-height: 1;
  font-size: 1.1rem;
  /* margin-bottom: 2.4rem !important; */
}

.dropdown-title {
  font-size: 1.5rem;
  margin-bottom: 1rem !important;
}

.home-dropdown__item {
  white-space: normal;
  text-transform: none;
  padding-top: 1rem !important;
  /* padding-left: 1.8rem !important; */
  padding-bottom: 1.4rem !important;
  /*  */
  font-size: 1.5rem;
}

.dropdown__item {
  padding-right: 8.6rem;
}

.status-card {
  padding: 1rem;
  border-radius: 0.5rem;
}

.status-card--bordered {
  border: 0.15rem solid #dbdbdb;
  padding: 1rem;
  border-radius: 0.5rem;
}

.status-card--title,
.status-card--value {
  text-align: center;
}

.status-card--title {
  text-transform: uppercase;
}

.header {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../images/banner.webp");
  background-repeat: no-repeat;
  /* background-position: bottom center; */
  background-size: cover;
  /* display: relative; */
  /* flex-wrap: wrap; */
}

@media (min-width: 50em) {
  .header-text {
    bottom: 0;
    position: absolute
  }
}


@media (max-width: 75em) {
  .header-text {
    bottom: 0;
    position: absolute;
    padding-top: 3rem !important
  }
}


.header__text-box {
  color: #ffffff;
}

.heading-main {
  margin-bottom: 4.5rem;
}

.heading-main--header {
  display: block;
  font-size: 7rem;
  line-height: 9rem;
  text-transform: capitalize;
}

.heading-main--sub {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.banner {
  height: 60rem;
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../images/banner-2.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.banner .row {
  height: inherit;
}

.confirmation {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4rem;
}

.confirmation .row {
  height: 60vh;
}

section,
.section {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}

.testimonial {
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05));
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.testimonial__card {
  box-shadow: 0px 30px 30px #00000029;
  border-radius: 15px;
  padding: 1.8rem 3.2rem;
}

.testimonial__quote {
  font-family: "malayalam";
  font-size: 10.4rem;
  letter-spacing: 0rem;
  line-height: 7rem;
}

.testimonial__text {
  font-family: "Montserrat-Medium";
  font-size: 1.6rem;
  letter-spacing: 0rem;
}

.testimonial__image {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.footer {
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
}

.footer__logo-box {
  margin-bottom: 2rem;
}

.footer__logo-text {
  line-height: 0rem;
}

.dashboard {
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)),
    url("../images/banner.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.dashboard__nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.1rem;
}

.dashboard__nav--notification {
  position: relative;
}

.dashboard__nav--notification .badge {
  position: absolute;
  top: -0.22rem;
  right: -0.8rem;
  padding: 0.25rem 0.5rem;
  border: 0.2rem solid #ffffff;
  border-radius: 50%;
}

@media (max-width: 75em) {
  .dashboard__nav--notification .badge {
    right: 96%;
  }
}

@media (max-width: 37.5em) {
  .dashboard__nav--notification .badge {
    right: 93%;
  }
}

.dashboard__nav--profile-img {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
}

.dashboard__nav--profile-dropdown {
  padding: 2rem;
  margin-top: 1rem;
}

.dashboard__nav--profile-dropdown-item:focus,
.dashboard__nav--profile-dropdown-item:hover {
  background-color: transparent !important;
}

.dashboard__nav--profile-dropdown-item svg {
  fill: #fecc0a !important;
  margin-right: 1rem;
}

.dashboard__nav--profile-dropdown-divider {
  height: 3rem;
}

.dashboard__body {
  padding: 4rem;
}

.dashboard__heading {
  padding: 0rem;
}

.dashboard__summary--card {
  padding: 0.8rem 2.5rem;
  background-color: rgba(219, 219, 219, 0.5);
}

.dashboard__summary--card-container {
  padding-left: 0rem;
  margin-left: 0rem;
}

.dashboard__summary--card-header {
  margin-bottom: 2.4rem;
}

@media (max-width: 37.5em) {
  .dashboard__summary--card-header {
    padding: 0rem 2rem;
  }
}

.dashboard__summary--card-body {
  color: rgba(14, 22, 61, 0.5);
}

@media (max-width: 37.5em) {
  .dashboard__summary--card-body {
    padding: 0rem 2rem;
  }
}

.dashboard-table__thead {
  background-color: #fecc0a;
  color: #0e163d;
}

.dashboard-table__thead th {
  vertical-align: middle !important;
}

.dashboard-table__tbody {
  color: #0e163d;
}

.dashboard-table__tbody tr {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dashboard-table__tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.dashboard-table__tbody tr:nth-of-type(even) {
  background-color: rgba(240, 240, 240, 0.4);
}

.dashboard__promotions--card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0rem 0.3rem 0.6rem #00000029;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
}

.dashboard__promotions--card--img {
  width: 60%;
  display: block;
  margin-left: auto;
}

.dashboard__promotions--card--img-container {
  margin-top: -1rem;
}

@media (max-width: 37.5em) {
  .dashboard__promotions--card-body {
    padding: 0rem 2rem;
  }
}

.dashboard__chart--card {
  position: relative;
  background-color: rgba(248, 248, 248, 0.5);
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem #00000029;
  /* height: 43vh;
  overflow: hidden; */
}

.dashboard__chart--card-text {
  border-left: 0.2rem solid #fecc0a;
}

.dashboard__chart--card-select {
  background-color: transparent;
  border: 0.15rem solid #fecc0a;
  padding: 0.5rem;
  border-radius: 3rem;
  float: right;
  outline: none;
}

.dashboard__general--card {
  background-color: rgba(248, 248, 248, 0.5);
  box-shadow: 0rem 1rem 1.5rem #00000029;
  padding: 1rem 2rem;
}

.dashboard__general--card__form--input,
.dashboard__general--card__form--select {
  border: 0.1rem solid #707070;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.35rem 1rem;
  background-color: transparent;
  color: #707070;
}

.dashboard__general--card__body {
  height: 10rem;
}

@media (max-width: 37.5em) {
  .dashboard__general--card__body {
    height: 14rem;
  }
}

.dashboard__general--card__img-container {
  height: 100%;
  padding: 0rem;
}

.dashboard__general--card__text {
  color: rgba(18, 48, 217, 0.5);
  overflow: hidden;
  max-height: 5rem;
  margin-right: -1.4rem;
  padding-right: 1.4rem;
  margin-bottom: 0.5rem;
}

.dashboard__general--card__text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

.dashboard__general--card__text:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.4rem;
  background: #ffffff;
}

.dashboard__general--card__rating {
  border-radius: 0.5rem;
}

@media (max-width: 75em) {
  .dashboard__general--card__rating {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

@media (max-width: 37.5em) {
  .dashboard__general--card__rating {
    padding-top: 0.6rem;
    padding-bottom: 0.1rem;
  }
}

.my-promotion {
  background-image: url("../images/banner.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.my-promotion__navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 1.1rem;
}

.my-promotion__container {
  background-color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 5.3rem;
  padding-right: 5.3rem;
}

.my-promotion__nav--link {
  color: #dbdbdb;
  outline: none !important;
  text-transform: uppercase;
}

.my-promotion__nav--link:focus,
.my-promotion__nav--link:hover,
.my-promotion__nav--link.active {
  outline: none !important;
  border: none;
  color: #0e163d !important;
}

.my-promotion__nav--link,
.my-promotion__nav--link.active {
  border-radius: 0rem !important;
}

.my-promotion__pills {
  margin-top: 2rem;
  /* border-bottom: 0.1rem solid #dbdbdb; */
}

.my-promotion__pills--link,
.my-promotion__pills--link:focus,
.my-promotion__pills--link:hover {
  background-color: transparent !important;
  color: #0e163d !important;
  border-radius: 0rem;
}

.my-promotion__pills--link.active {
  border-bottom: 0.2rem solid #fecc0a;
}

.my-promotion__pills--square {
  display: flex;
  border: 0.1rem solid rgba(112, 112, 112, 0.5);
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.my-promotion__pills--square span {
  justify-content: flex-start;
}

.my-promotion__pills--square img {
  justify-content: flex-end;
}

.my-promotion__pills--btn {
  display: flex;
  background-color: #fecc0a;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
}

.my-promotion__pills--input {
  border: none;
  outline: none;
  color: #6d6d6d;
  padding: 0.5rem;
}

.my-promotion__pills--switch {
  position: relative;
  display: inline;
}

.my-promotion__pills--switch input[type="checkbox"] {
  position: relative;
  width: 5rem;
  height: 2rem;
  background-color: #dbdbdb;
  -webkit-appearance: none;
  border-radius: 2rem;
  transition: 0.4s;
  cursor: pointer;
  outline: none;
}

.my-promotion__pills--switch input:checked[type="checkbox"] {
  background-color: #fecc0a;
  outline: none;
}

.my-promotion__pills--switch input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.2rem;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 1rem 1rem 2rem -2rem rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 1rem 1rem 2rem -2rem rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1rem 1rem 2rem -2rem rgba(0, 0, 0, 0.12);
  transition: 0.4s;
}

.my-promotion__pills--switch input:checked[type="checkbox"]::before {
  right: 3.05rem;
}

.my-promotion__pills--switch label {
  position: absolute;
  color: #0e163d;
  pointer-events: none;
}

.my-promotion__pills--switch .email {
  bottom: -0rem;
  left: 1.85rem;
}

@media (max-width: 75em) {
  .my-promotion__pills--switch .email {
    bottom: 1rem;
    left: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .my-promotion__pills--switch .email {
    bottom: -0rem;
    left: 3rem;
  }
}

.my-promotion__pills--switch .sms {
  bottom: -0rem;
  left: 4.3rem;
}

@media (max-width: 75em) {
  .my-promotion__pills--switch .sms {
    bottom: 1rem;
    left: 4.5rem;
  }
}

@media (max-width: 37.5em) {
  .my-promotion__pills--switch .sms {
    bottom: -0rem;
    left: 5rem;
  }
}

.my-promotion__pills--switch input:checked[type="checkbox"]+.email {
  display: none;
}

.my-promotion__pills--switch input:checked[type="checkbox"]~.sms {
  display: inline;
}

.my-promotion__pills--switch input[type="checkbox"]~.sms {
  display: none;
}

.my-promotion__pills--sms-container {
  display: none;
}

.my-promotion__modal {
  background-color: rgba(112, 112, 112, 0.5) !important;
}

.my-promotion__modal .modal-content {
  border-radius: 0rem !important;
  border: none !important;
}

button,
a {
  outline: none !important;
}

.btn__squared--disabled,
.btn__squared--disabled:focus,
.btn__squared--disabled:hover {
  color: #ffffff !important;
  background-color: #707070;
  padding: .8rem 3rem !important;
  border: 0.13rem solid #707070;
  border-radius: 5rem 5rem 0rem 5rem;
  text-decoration: none;
}
